body {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSdSMpsiO1LP8znahx0fBuePON98U2gnFuhQw&usqp=CAU');
    background-size: cover;
    background-repeat:no-repeat;
}

nav {
    background-color:blue;
    opacity: 70%;
}

#main-display {
    background-color: white;
    line-height: 1.5;
}

nav .h1 {
    font-size: xx-large;
    color: white;
}

#search-div {
    background-color: lightgray;
    opacity: 70%;
    padding-top: 20px;
    padding-bottom: 40px;
}

#submit-btn {
    margin-left: 0;
}

.history {
    background-color: white;
    opacity: 90%;
    padding-top: 4px;
    padding-left: 10px;
    border-top: black;
    border-style: solid;
    border-width: thin;
    height: 35px;
    vertical-align: center;
}

#uv-display {
    font-weight: bold;
}

.card {
    font-size: small;
    background-color: blue;
    opacity: 70%;
    color: white;

}

.forecast-date {
    font-size: large;
}

.forecast-img {
    width:100%;
    height: 90px;
}








